.envelope{
  width: 700px;
  height: 350px;
  border: 1px solid #efefef;
  margin: 50px auto;

}

.stamp{
  width: 75px;
  height: 75px;
  background-color: lavenderblush;
  position: relative;
  top:15px;
  left:615px;
}

.return-address-container{
  position:relative;
  width: 150px;
  top:-55px;
  left: 13px;
  /* outline: 1px solid red; */
}

.return-address-container .name{
  text-transform: uppercase;
  color: blue;
  font-size: 14px;
}

.return-address-container .address, 
.return-address-container .city-state
{
  font-size: 12px;;
}